parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Pest.php
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Function faker not found#'
        - '#Function createMockClient not found#'
        - '#Function createMockHttpClient not found#'
        - '#Access to an undefined property DerrickOb\\HostingerApi\\Data\\Data::\$.*#'
        - '#Unable to resolve the template type TAndValue in call to method Pest\\Expectation<mixed>::and\(\)#'
        - '#Unable to resolve the template type TAndValue in call to method Pest\\Expectation<.*>::and\(\)#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::with\(\).#'
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::throws\(\).#'